.newApp{
    position: absolute;
}
    .App img{
        opacity: 0.3;
    }
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-size: 1.5rem;
    overflow: hidden;
}
h1{
    margin-bottom: 0.5rem;
}
.input{
    border: 1px solid #333;
    border-radius: .3rem;
    padding: 0.25rem;
    width: 7rem;
}
select{
    margin-left: 0.5rem;
}
.equals{
    font-weight: bold;
    font-size: 2rem;
}